In [123]:
import pandas as pd
import re

In [124]:
df = pd.read_csv('./data/MANUSCRITO_1-UTF8.csv', sep=';')
print(df.shape)
df.sample(10)

(10000, 53)

,idBNE,Autor Personas,Autor Entidades,Título uniforme,Título,Otros Títulos,Información asociada al título,Edición,Editorial,Editor musical,...,Depósito Legal,Otros Números Normalizados,Número Bibliografía Nacional,País de publicación,Lengua de publicación,Lengua original,otras lenguas,Tipo de documento,Condiciones de uso,enlaces
7635,biam0000009928,NaN,NaN,NaN,Fichas y relaciones de obras impresas y manusc...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Manuscrito,NaN,NaN
2954,biam0000004018,NaN,NaN,NaN,"Papeles referentes al pago de 19,5 millones de...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,sp,spa,NaN,NaN,Manuscrito,NaN,NaN
9888,biam0000013558,"Verger, Amédée , fl. 1864 //",NaN,NaN,Cartas de Amédée Verger a Francisco A. Barbieri,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Manuscrito,NaN,NaN
3962,biam0000005472,NaN,NaN,NaN,Informaciones sobre la vida y milagros de San ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Manuscrito,NaN,http://bdh-rd.bne.es/viewer.vm?id=0000134148&p...
6737,biam0000008783,NaN,NaN,NaN,Copia de la partida de bautismo de José de Esp...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Manuscrito,NaN,NaN
4513,biam0000006182,"Godoy Alcántara, José , 1825-1875 //",NaN,NaN,Carta de José Godoy Alcántara a José M. Antequera,NaN,José Godoy Alcántara,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,spa,NaN,NaN,Manuscrito,NaN,NaN
1073,biam0000001558,"Acquaviva d'Aragona, Giovanni Girolamo, Conte ...",NaN,NaN,Memorial sobre la calidad y servicios de su casa,NaN,"Juan Geronimo Aquaviva y Aragón, Conde de Conb...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Manuscrito,NaN,NaN
9193,biam0000012180,"Herrero y Espinosa de los Monteros, Sebastián ...",NaN,NaN,Cartas de Sebastián Herrero y Espinosa de los ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Manuscrito,NaN,NaN
3106,biam0000004244,NaN,NaN,NaN,Ejecutoria de hidalguía de Fernando de Peralta,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,sp,spa,NaN,NaN,Manuscrito,NaN,http://bdh-rd.bne.es/viewer.vm?id=0000192346&p...
1263,biam0000001792,"Fernando V, Rey de España //",NaN,NaN,Ordenanzas de D. Fernando el Católico a la ciu...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,sp,spa,NaN,NaN,Manuscrito,NaN,NaN

Quitamos las filas y columnas que esten vacias. Ademas quitamos las filas que no tengan autor o titulo

In [125]:
df = df.dropna(how="all", axis=0)
df = df.dropna(how="all", axis=1)
df = df[df['Autor Personas'].notna()]
df = df[df["Título"].notna()]
print(df.shape)

(6110, 35)

Quitamos digitos, parentesis, lo ponemos todo en minusculas y cambiamos las comas por barra bajas porque mas tarde las comas eran problematicas al aplicar la function split.

In [126]:
def initial_clean(s):
    s = re.sub("\d", "", s)  # get rid of digits
    s = re.sub("\(.*\)", "", s)  # get rid of parenthesis and what is inside
    s = re.sub(
        ",", "_", s
    )  # need to change comas for other symbol cause they are problematic when splitting an string
    s = s.lower()
    return s

df['Autor Personas'] = df['Autor Personas'].apply(lambda x: initial_clean(x))   
df['Autor Personas']

0                isidoro_ santo_ arzobispo de sevilla  //
2                             figueroa_ francisco de   //
3                                    josefa victoria   //
4                                laudivius_ zacharias  //
5                            paula de jesús nazareno   //
                              ...
9989                          juan i_ rey de castilla  //
9991                      tramoyeres blasco_ luis _ -  //
9992                         rojas_ josé maría de _ -  //
9994    silvela_ francisco _ -  // toreno_ josé maría ...
9998                                 valera_ juan _ -  //
Name: Autor Personas, Length: 6110, dtype: object

Partimos los nombres de autores usando // como referencia.

In [127]:
df['Autor Personas'] = df['Autor Personas'].str.split("//")
df['Autor Personas']

0              [isidoro_ santo_ arzobispo de sevilla  , ]
2                           [figueroa_ francisco de   , ]
3                                  [josefa victoria   , ]
4                              [laudivius_ zacharias  , ]
5                          [paula de jesús nazareno   , ]
                              ...
9989                        [juan i_ rey de castilla  , ]
9991                    [tramoyeres blasco_ luis _ -  , ]
9992                       [rojas_ josé maría de _ -  , ]
9994    [silvela_ francisco _ -  ,  toreno_ josé maría...
9998                               [valera_ juan _ -  , ]
Name: Autor Personas, Length: 6110, dtype: object

Nos deshacemos de la ultima posicion de los arrays ya que siempre va a estar vacia debido a que los nombres de los autores siempre acaban por //

In [128]:
def remove_empty_list_position(l):
    return l[:-1]

df['Autor Personas'] = df['Autor Personas'].apply(lambda x: remove_empty_list_position(x))
df['Autor Personas']

0                [isidoro_ santo_ arzobispo de sevilla  ]
2                             [figueroa_ francisco de   ]
3                                    [josefa victoria   ]
4                                [laudivius_ zacharias  ]
5                            [paula de jesús nazareno   ]
                              ...
9989                          [juan i_ rey de castilla  ]
9991                      [tramoyeres blasco_ luis _ -  ]
9992                         [rojas_ josé maría de _ -  ]
9994    [silvela_ francisco _ -  ,  toreno_ josé maría...
9998                                 [valera_ juan _ -  ]
Name: Autor Personas, Length: 6110, dtype: object

Explotamos la columna de autores para tener un autor por fila

In [129]:
print('Before', df.shape)
df= df.explode('Autor Personas')
print('After', df.shape)
df['Autor Personas']

Before (6110, 35)
After (8172, 35)

0                  isidoro_ santo_ arzobispo de sevilla
2                               figueroa_ francisco de
3                                      josefa victoria
4                                  laudivius_ zacharias
5                              paula de jesús nazareno
                              ...
9991                        tramoyeres blasco_ luis _ -
9992                           rojas_ josé maría de _ -
9994                             silvela_ francisco _ -
9994     toreno_ josé maría queipo de llano ruiz de sa...
9998                                   valera_ juan _ -
Name: Autor Personas, Length: 8172, dtype: object

Separamos apellido, nombre y titulo

In [130]:
df['Autor Personas'] = df['Autor Personas'].str.split("_")
df['Autor Personas']

0              [isidoro,  santo,  arzobispo de sevilla  ]
2                            [figueroa,  francisco de   ]
3                                    [josefa victoria   ]
4                               [laudivius,  zacharias  ]
5                            [paula de jesús nazareno   ]
                              ...
9991                    [tramoyeres blasco,  luis ,  -  ]
9992                       [rojas,  josé maría de ,  -  ]
9994                         [silvela,  francisco ,  -  ]
9994    [ toreno,  josé maría queipo de llano ruiz de ...
9998                               [valera,  juan ,  -  ]
Name: Autor Personas, Length: 8172, dtype: object

Cambiamos el orden del nombre y apellido para que el formato sea similar al usado en las APIs

In [131]:
def swap_name_and_surname(l):
    # the format is [surname, name, title]
    if len(l) == 1:
        return l
    else:
        surname = l[0]
        l[0] = l[1]
        l[1] = surname
        return l

df['Autor Personas'] = df['Autor Personas'].apply(lambda x: swap_name_and_surname(x))
df['Autor Personas']

0              [ santo, isidoro,  arzobispo de sevilla  ]
2                            [ francisco de   , figueroa]
3                                    [josefa victoria   ]
4                               [ zacharias  , laudivius]
5                            [paula de jesús nazareno   ]
                              ...
9991                    [ luis , tramoyeres blasco,  -  ]
9992                       [ josé maría de , rojas,  -  ]
9994                         [ francisco , silvela,  -  ]
9994    [ josé maría queipo de llano ruiz de saravia, ...
9998                               [ juan , valera,  -  ]
Name: Autor Personas, Length: 8172, dtype: object

Quedan espacios en blanco antes y despues de los nombres, por lo tanto, nos deshacemos de ellos y despues rellenamos los espacios dentro del nombre con barra bajas

In [132]:
def treat_whitespaces(l):
    for i in range(len(l)):
        l[i] = re.sub("^\ +", "", l[i])
        l[i] = re.sub("\ +$", "", l[i])
        l[i] = re.sub(
            " ", "_", l[i]
        )  # substitute the remaining whitespaces with _: de lucia -> de_lucia
    return l

df['Autor Personas'] = df['Autor Personas'].apply(lambda x: treat_whitespaces(x))
df['Autor Personas']

0                  [santo, isidoro, arzobispo_de_sevilla]
2                                [francisco_de, figueroa]
3                                       [josefa_victoria]
4                                  [zacharias, laudivius]
5                               [paula_de_jesús_nazareno]
                              ...
9991                         [luis, tramoyeres_blasco, -]
9992                            [josé_maría_de, rojas, -]
9994                              [francisco, silvela, -]
9994    [josé_maría_queipo_de_llano_ruiz_de_saravia, t...
9998                                    [juan, valera, -]
Name: Autor Personas, Length: 8172, dtype: object

Ahora unimos el nombre apellido y titulo usando barra bajas

In [133]:
df['Autor Personas'] = df['Autor Personas'].apply(lambda x: "_".join(x))
df['Autor Personas']

0                      santo_isidoro_arzobispo_de_sevilla
2                                   francisco_de_figueroa
3                                         josefa_victoria
4                                     zacharias_laudivius
5                                 paula_de_jesús_nazareno
                              ...
9991                             luis_tramoyeres_blasco_-
9992                                josé_maría_de_rojas_-
9994                                  francisco_silvela_-
9994    josé_maría_queipo_de_llano_ruiz_de_saravia_tor...
9998                                        juan_valera_-
Name: Autor Personas, Length: 8172, dtype: object

Quitamos los acentos

In [134]:
import unicodedata

def strip_accents(s):
    # https://stackoverflow.com/questions/517923/what-is-the-best-way-to-remove-accents-normalize-in-a-python-unicode-string
    return "".join(
        c for c in unicodedata.normalize("NFD", s) if unicodedata.category(c) != "Mn"
    )

df['Autor Personas'] = df['Autor Personas'].apply(lambda x: strip_accents(x))
df['Autor Personas']

0                      santo_isidoro_arzobispo_de_sevilla
2                                   francisco_de_figueroa
3                                         josefa_victoria
4                                     zacharias_laudivius
5                                 paula_de_jesus_nazareno
                              ...
9991                             luis_tramoyeres_blasco_-
9992                                jose_maria_de_rojas_-
9994                                  francisco_silvela_-
9994    jose_maria_queipo_de_llano_ruiz_de_saravia_tor...
9998                                        juan_valera_-
Name: Autor Personas, Length: 8172, dtype: object

Limpiamos los nombres de nuevo para dejar solo caracteres del alfabeto y barra bajas

In [135]:
def keep_chars_and_separator(s):
    return re.sub("[^a-zA-Z_]", "", s)

df['Autor Personas'] = df['Autor Personas'].apply(lambda x: keep_chars_and_separator(x))
df['Autor Personas']

0                      santo_isidoro_arzobispo_de_sevilla
2                                   francisco_de_figueroa
3                                         josefa_victoria
4                                     zacharias_laudivius
5                                 paula_de_jesus_nazareno
                              ...
9991                              luis_tramoyeres_blasco_
9992                                 jose_maria_de_rojas_
9994                                   francisco_silvela_
9994    jose_maria_queipo_de_llano_ruiz_de_saravia_tor...
9998                                         juan_valera_
Name: Autor Personas, Length: 8172, dtype: object

Quedan algunas barra bajas al principio y al final de algunos nombre. Nos aseguramos de quitarlas

In [136]:
def clean_start_and_end(s):
    s = re.sub("^_", "", s)
    s =re.sub("_$", "", s)
    return s

df['Autor Personas'] = df['Autor Personas'].apply(lambda x: clean_start_and_end(x))
df['Autor Personas']

0                      santo_isidoro_arzobispo_de_sevilla
2                                   francisco_de_figueroa
3                                         josefa_victoria
4                                     zacharias_laudivius
5                                 paula_de_jesus_nazareno
                              ...
9991                               luis_tramoyeres_blasco
9992                                  jose_maria_de_rojas
9994                                    francisco_silvela
9994    jose_maria_queipo_de_llano_ruiz_de_saravia_tor...
9998                                          juan_valera
Name: Autor Personas, Length: 8172, dtype: object

Puede que algunos nombres sean NaN despues del proceso de limpieza

In [137]:
df = df[df['Autor Personas'].notna()]